
.btn{
    padding:5px 10px;
    border:none;
}
.btn-search{
    padding: 0px 20px;
    background-color: #28282B;
    margin-left: 4px;
    color: #df2323;
    width: 150px;
    height: 58px;
    margin-bottom: 5px;
}
.btn-search-disabled{
    padding:12px 30px;
    background-color: #aaa;
    margin-left: -1px;
    color: #301a92;
    border:#aaa 1px solid;
    cursor: not-allowed;
}