<app-product-container #productContainerComponent></app-product-container>
<app-product-detail *ngIf="productContainerComponent.selectedProdcut" [produdctListComp]="productContainerComponent"></app-product-detail>

<div class="ekart-featured-products">
    <div class="ekart-featured-products-heading">
        <h1>Latest popular</h1>
    </div>
    <app-footer>
        <h3 class="title">New Arrivals in Nike</h3>
        <button class="call-to-action">Learn More</button>
    </app-footer>
    <app-footer>
        <h3 class="title">New Arrivals in Nike</h3>
         <button class="call-to-action">Learn More</button>
    </app-footer>
    <app-footer>
        <h3 class="title">New Arrivals in Nike</h3> 
        <button class="call-to-action">Learn More</button>
    </app-footer>
</div>

<app-parent></app-parent>
