<app-product-search (inputSearchChanged)="inputSearchChangedContainer($event)"></app-product-search>
<app-filter 
[all]="getAllCount"
[qualified]="getAllQualified"
[notQualified]="getAllNotQualified"
(selectedFilterChanged)="selectedFilterChangedContainer($event)"

></app-filter>
<!--  *ngIf="selectedFilter =='all' ||item.qualife.toString()==selectedFilter ",-->
<ng-container *ngFor="let item of products">
    <app-product-table 
    [productTable]="item"
     [searchResult]="inputSearch" 
      *ngIf="(inputSearch == '' || item.name.toLowerCase() == inputSearch) && 
      (selectedFilter =='all' ||item.qualife.toString()==selectedFilter )"
       (click)="selectedProdcut=item"
     ></app-product-table>
</ng-container>


